  <p>{{ toLowercase message }}</p>
  <p>{{ date.year }}</p>
  <p>{{ date.format }}</p>

  <ul>
    {{!-- any block helper starts with '#'' and close with '/' --}}
    {{#each tasks}}
      <li>
        {{ name }}
        <br />
        <span>
          {{ options.createdAt }} | {{ options.status }}
        </span>
      </li>
    {{/each}}
  </ul>
